<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="patient" name="patient"
		class="com.spring.tanvir.HospitalManagement.Patient" init-method="onCreate"
		destroy-method="onDestroy" c:id="6"
		c:_1="name set by C:namespace" scope="singleton">
	</bean>
</beans>
